<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
  <title>Mau makan enak?</title>
  <link
    href="https://fonts.googleapis.com/css?family=Roboto:300,400,500"
    rel="stylesheet"
    type="text/css"
  />
</head>
<body>
  <a href="#restaurant-list" class="skip-link">skip to content.</a>
  
  <header class="header">
    <div class="header__logo"></div>
    <div class="header__inner">
      <h1 class="header__title">Mau makan enak?</h1>
    </div>
    <nav id="drawer" class="nav">
      <a id="menu" class="nav__item" onclick="toggleDrawer()">☰</a>
      <ul class="nav__list">
        <li class="nav__item"><a href="/">Home</a></li>
        <li class="nav__item"><a href="#">Favorite</a></li>
        <li class="nav__item"><a href="https://github.com/Adlrsyadu">About Us</a></li>
      </ul>
    </nav>
  </header>
    <div class="hero">
    <div class="hero__inner">
      <h1 class="hero__title">Bingung Liburan Mau Makan Apa?</h1>
      <p class="hero__tagline">
        Tidak perlu khawatir, kami menyediakan rekomendasi beberapa restoran dengan bintang 4 yang perlu anda coba.
      </p>
    </div>
  </div>
  <main>
    <section class="content" id="restaurant-list">
      <article class="headline">
        <div class="headline__content">
          <h1 class="headline__title">Tidak Perlu Khawatir !</h1>
          <p class="headline__description">
            Kami merekomendasikan berbagai restoran terbaik yang telah kami pilih dan merupakah hasil survey dari terbatasnya aplikasi penyedia restoran terbaik.
          </p>
          <button class="headline__button">READ MORE</button>
        </div>
      </article>
    </section>
    <div class="posts"></div>
  </main>
  <footer>
    <p>&copy; 2023 - Mau Makan Enak?</p>
  </footer>
</body>
</html>
